/*font-family: 'Alegreya Sans SC', sans-serif;*/

/*font-family: 'Fredericka the Great', cursive;*/

/*font-family: 'Bad Script', cursive;*/


.container-fluid {
	background: #eaf2f9;
	color: #8e8f91;
	font-family: 'Bad Script', cursive;
  	font-weight: normal;
	font-size: 16px;
	margin: 0 auto;
	padding: 0 auto;
	width: 600px;
	height: 950px;
}

p {
	margin: 0 auto;
}

.float-left {
	float: left;
	margin-right: 20px;
}

.right-1,
.right-2,
.right-3,
.right-4,
.right-5,
.right-6,
.right-7 {
	margin-left: 30px;
	float: right;
	clear: both;
}

.para-1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 27px;
	font-weight: bolder;
	margin-top: 5px;
}

#life {
	margin-left: 300px;
}

.right-1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 38px;
}

#often {
	background-color: #f9f6d1;
	margin-top: 23px;
	margin-right: 5px;
}

.left-1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 23px;
	font-weight: 700;
	margin-top: 22px;
}

#job-quit {
	margin-top: 25px;
	margin-left: 12px;
}

.right-2 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 18px;
}

#tv {
	background-color: #c9ddfc;
	margin-right: 10px;
}

.left-2 {
	font-size: 22px;
}

#love {
	background-color: #f4bccd;
	margin-top: 25px;
}

.right-3 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 28px;
	font-weight: bold;
	font-style: italic;
}

#analyzing {
	margin-top: 16px;
}

.left-3 {
	font-size: 32px;
}

#emotions {
	background-color: #f9f6d1;
}

.right-4 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.left-4 {
	font-size: 20px;
}

#open-your-mind {
	background-color: #eeffed;
	margin-top: 15px;
}

.right-5 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 18px;
}

#travel-often {
	background-color: #e8e1e1;
	margin-top: 9px;
}

.left-5 {
	font-size: 30px;
}

#seize {
	background-color: #c9ddfc;
	font-family: 'Fredericka the Great', cursive;
	font-weight: bold;
	font-size: 32px;
}

.right-6 {
	font-size: 22px;
}

#creating {
	background-color: #eeffed;
}

.left-6 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 33px;
}

.right-7 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 50px;
}

#passion {
	 background-color: #f9f6d1;

}
